<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Library</h1>
    <ul>
        <li><a href="{% url 'author_create' %}">Add Author</a></li>
        <li><a href="{% url 'publisher_create' %}">Add Publisher</a></li>
        <li><a href="{% url 'book_create' %}">Add Book</a></li>
        <li><a href="{% url 'display_all' %}">Display Results</a></li>
    </ul>
</body>
</html>